<html>
<head>
<link rel="stylesheet" href="application.css">
    
</head>
<body>
    <div class="box">
    <ul type="none">
    <li><%= link_to 'Signup', admin_signup_path %></li>
    <li><%= link_to 'Login', admin_login_path %></li>
    </ul>
    </div>
    <div class="wd">
        <h1>Welcome</h1>
        <h4>We give our user the top priority. The website is created to give a user 
        the best experience. The UI is user friendly and easy to navigate. 
        To make a reservation a user needs to sign-up or sign-in.</h4>
    </div>
</body>
</html> 