<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Web Template</title>
    <link rel="stylesheet" href="application.css">
</head>
<body>
   
<!--   HEADER  -->
  
  <header>
      <div class="head">
         <h2>Bellyful</h2> 
      </div>
<!--    NAVIGATION  -->
         <nav>
             <ul>
                <li><%= link_to 'Home', root_path, :class=> "active" %></li>
                <li><%= link_to 'Signup', admin_signup_path %></li>
                <li><%= link_to 'Login', admin_login_path %></li>
            </ul>
         </nav>
<!--    END OF NAVIGATION  -->
  </header>
<!--  END OF HEADER  -->

<!--SHOWCASE-->

    <showcase>
        <div class="container">
            <h1>Food tastes better when you eat it with your family</h1>
            <h3>Veg, Non-Veg and all kind of Snacks are available</h3>
            <div class="category">
                <div class="thai">
                <img src="/assets/thai.jpg" />
                    <h4>Thai Tanic</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aut vero sint itaque dignissimos, fugiat ipsum laboriosam </p>
                </div>
                <div class="snacks">
                <img src="/assets/burger.jpg">
                     <h4>Evening Snacks</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aut vero sint itaque dignissimos, fugiat ipsum laboriosam </p>
                </div>
                <div class="grill">
                <img src="/assets/gril.jpeg">
                      <h4>Gochew Grill</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aut vero sint itaque dignissimos, fugiat ipsum laboriosam </p>
                </div>
            </div>
        </div>
    </showcase> 
<!--   END OF SHOWCASE  -->
     
       <a href="#"><button class="btn">Read More</button></a>
                           
    
</body>
</html>