<h1>Welcome <%= @admin.name%> to your homepage!</h1>
<%= link_to 'Add a Cafe', new_admin_cafe_path(@admin) %>
<br> 
<br> 
<%= link_to 'Logout', logout_path %>
<br>
<br>
<%= link_to 'View all cafes', admin_cafes_path(@admin)%>