<h1>Welcome <%= @user.name%> to your homepage!</h1>
<%= button_to('Make a booking', new_user_booking_path(@user), :method=>"get") %>
<br> 
<br> 
<%= button_to('Logout', logout_path, :method=>"get") %>
<br>
<br>
<%= button_to('View all bookings', user_bookings_path(@user), :method=>"get") %>