/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


       
     body{
            background: url("kitchen.jpeg");
            no-repeat center center fixed;
            background-size: cover;
            font-family: sans-serif;
        }
        
        header{
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        
        .head{
            float: left;
            color: #fff;
            font-family: cursive;
        }
        
        nav{
            float: right;
        }
        
        li{
            display: inline;
            padding: 1rem;
        }
        
        li a{
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }
        
        .active{
            color: gold;
        }
        
        .container{
            width: 70%;
            margin: auto;
            overflow: hidden;
            margin-top: 1%;
        }
        
        showcase h1{
            color: #fff;
            font-family: cursive;
            text-align: center;
        }
        
        showcase h3{
            color: #fff;
            text-align: center;
            letter-spacing: 2px;
        }
        
        .category{
            color: #fff;
            margin-top: 5%;
            display: flex;
            text-align: center;
            font-family: cursive;
        }
        
        img{
            width: 70%;
            border-radius: 50%;
        }
        
        .snacks, .grill{
            padding-left: 1rem;
        }
        
        h4{
            font-size: 1.5rem; /*1rem=16px */
            margin: 3%;
        }
        
        .btn{
            /* background-color: #05A081; */
            background-color: gold;
            border: none;
            border-radius: 8px;
            margin-left: 45%;
        }

        #error_explanation{
            background-color: red;
            margin-top: 10px;
            margin-left: 20px;

        }

        h3{
            color: #fff;
            font-family: cursive;
            text-align: center;
            letter-spacing: 2px;
        }

        .content{
            margin-left:300px;
            
        }

        label{
            color:yellow;
        }


        .content-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          }
          
          .content-table thead tr {
            background-color: #009879;
            /* color: #ffffff; */
            color:gold;
            text-align: left;
            font-weight: bold;
          }

          .content-table tbody tr {
            background-color: white;
            color:black;
          }
          
          .content-table th,
          .content-table td {
            padding: 12px 15px;
          }
          
          .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
          }
          
          .content-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3; 
            
          }
          
          .content-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
          }
          
          .content-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
          }
          
